@font-face {
    font-family:Inter;
    src:url(design/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family:Lexend Deca;
    src:url(design/LexendDeca-Regular.ttf);
}

/* - White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */
body {
    background-color: hsl(233, 47%, 7%);
}
.container {
    display: flex;
    flex-direction: row;
    margin: 10%;
    border-radius: 10px;
    overflow: hidden;
}
.text-container {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.text-container-inner {
    margin: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-title {
    color: hsl(0, 0%, 100%);
    font-size: 3vw;
    font-family: Inter;
    font-weight: 700;
}
.text-subtitle {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-size: 1.1vw;
}
.text-number {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: Lexend Deca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1vw;
}
.text-number > div {
    display: flex;
    flex-direction: column;
}
.text-number > div > span:first-child {
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 5%;
}
.image-container {
    width: 50%;
}
.image-container > img {
    width: 100%;
    height: 100%;
    filter: sepia(80%);
}
@media (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
    }
    .text-container {
        width: auto;
        text-align: center;
        padding-top: 0;
    }
    .text-title {
        color: hsl(0, 0%, 100%);
        font-size: 4vw;
    }
    .text-subtitle {
        line-height: 1.75;
        font-size: 2.5vw;
    }
    .text-number {
        font-size: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-number > div {
        margin-bottom: 10%;
    }
    .text-number > div:last-child {
        margin-bottom: 0;
    }
    .text-number > div > span:first-child {
        font-size: 3vw;
        margin-bottom: 2%;
    }
    .image-container {
        width: 100%;
    }
    .image-container > img {
        width: 100%;
        height: 100%;
    }
}